html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  width: 100%;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  color: var(--yantra-text-light);
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: 'Segoe UI', sans-serif;
  z-index: 11;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 9;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: var(--yantra-text-light);
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: background 0.5s;
}

nav.black ul {
  background: var(--yantra-primary-dark);
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: var(--yantra-text-light);
  font-size: 16px;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: var(--yantra-primary-dark);
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: var(--yantra-text-light);
  display: none;
  z-index: 10;
}

@media (max-width: 768px) {
  nav ul {
    max-height: 0;
    background: var(--yantra-primary-dark);
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding-right: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    background: var(--yantra-primary-dark);
    overflow: hidden;
  }

  nav ul.showing {
    max-height: 500px;
    padding: 0;
    transform: scaleY(1);
  }

  nav ul li {
    display: block;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    margin: 0;
  }

  .menu-icon {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }

  .logo {
    margin-left: 20px;
  }
}
